<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="logstash" source="logstash.endpoint"/>
    <springProperty scope="context" name="log.profiling" source="logger.profiling" defaultValue="OFF" />
    <springProperty scope="context" name="log.common" source="logger.common" defaultValue="DEBUG"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>base-node %d{ISO8601} %level %thread %logger %m%n%throwable</pattern>
        </layout>
    </appender>

    <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${logstash}</destination>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.bitclave.node.configuration.LogbackLayout"/>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="stash"/>
        <appender-ref ref="Console"/>
    </root>

    <!-- see com/bitclave/node/utils/Logger.kt -->
    <logger name="PROFILING" level="${log.profiling}" />
    <logger name="COMMON" level="${log.common}" />

    <logger name="org.hibernate" level="ERROR"/>

</configuration>
